<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- bean definitions here -->
  <!--  <context:component-scan base-package="com"/>-->
    <!-- 测试代码，通过导入文件方式，可以将多个模块分开配置 -->
    <!--<import resource="classpath:spring-jdbc.xml"/>-->
    <!--c3p0连接池 -->
    <!--<bean id="c3p0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.userName}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>-->
    <bean id="userAction" class="com.spring.ssh.UserAction" scope="prototype">
        <property name="userService" ref="userServiceImpl"/>
    </bean>
    <!--spring管理hibernate的sessionfactory，把hibernate.cfg.xml的数据源注释掉-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
    <!--指定数据源-->
        <property name="dataSource" ref="c3p0DataSource"/>
        <!--指定hibernate的核心配置文件位置-->
    <property name="configLocations" value="classpath:hibernate.cfg.xml"/>
    </bean>
    <!--第一步配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <!--注入sessionFactory-->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--第二步开启事务注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="userServiceImpl" class="com.spring.ssh.UserServiceImpl">
        <property name="userDao" ref="userDaoImpl"/>
    </bean>
    <bean id="userDaoImpl" class="com.spring.ssh.UserDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="hibernateTemplate" class ="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>